:root {
  --star: #262f38;
  --text: #0358a8;
  --selected: hsl(203, 62%, 93%);
  --dark-blue :#00172D;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: none;
  text-align: center;
  background-color: aliceblue;
}

p{
  font-size: 1rem;
  color: var(--text);
  padding: 0;
  border-bottom: var(--dark-blue) dashed 2px;
}

.container {

  min-height: 350px;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  border-radius: 5%;
  background-color:var(--dark-blue);
  padding: 1.5rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.search-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.search-container > input {
  width: 60%;
} 

.search-container > * {
  background: transparent;
  border: none;
  outline: none;
  border: solid var(--text) 2px;
  border-radius: 10px;
  color: var(--selected);
  padding: 10px;
  margin-right: 1.5rem;
}

.search-container > button:hover {
  background-color: var(--selected);
  color: var(--dark-blue);
}
.search-container > *:focus {
  outline: none;
}

.search-container > button{
  width: 20%;
  align-items: center;
}

.data-container {
  max-height: 18rem;
  width: 100%;
  padding: 0.5em;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  text-align: left;
}

.data-container > * {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: var(--selected);
}
